body {
  background-color: #aadde6;
  color: #bb8a8a;
}

#root {
  h1, 
  p {
    position: fixed;
    font-family: 'Arvo', serif;
    font-size: 48px;
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-weight: 700;
  }

  p {
    font-weight: 400;
  }

  &.clicked {
    h1 {
      animation: right 4s infinite reverse;
    }
    p {
      animation: right 4s infinite;
    }
    @keyframes right {
      0% {
        transform: rotate(0) translate(-50%, -50%);
      }
      100% {
        transform: rotate(360deg) translate(-50%, -50%);

      }
    }
  }
}
